<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
<link rel="stylesheet" href="styles.css">
    <title>Create</title>
</head>
<body class="text-bg-dark">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    </ul>
    <h1><u>Report New Sighting</u></h1>

    <div>
        {% with messages = get_flashed_messages() %}
        <!-- declare a variable called messages -->
        {% if messages %}
        <!-- check if there are any messages -->
        {% for message in messages %}
        <!-- loop through the messages -->
        <p class="error">{{message}}</p> <!-- display each message in a paragraph tag -->
        {% endfor %}
        {% endif %}

        {% endwith %}
    </div>

    <form action="/create/new" method="post" 
        class="flex-container with-border majority-width">
        <div class="half-width">
            <div class="form-group">
                <label for="location" class="form-label">Location:</label>
                <input type="text" name="location" class="form-control" id="location" placeholder="Location">
            </div>

            <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <textarea type="text" name="description" class="form-control" id="description" placeholder="What Happened?"></textarea>
            </div>

        <div class="half-width">
            <div class="form-group">
                <label for="date" class="form-label">Date Sighted:</label>
                <input type="date" class="form-control" name="date" id="date">
            </div>
            <div class="form-outline">
                <label class="form-label" for="amount">How Many Sasquatches?</label>
                <input type="number" id="amount" name="amount" class="form-control" min="1" placeholder="1">
            </div>

            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <div class="form-group p-3">
                <input type="submit" class="btn-primary" value="Submit">
            </div>
        </div>
    </form>
</body>
</html>