<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Edit Recipe</title>
</head>
<body>
    <h2>Edit Your Recipe!</h2>
    <h3 class="text-danger fs-6">*Description must not be blank</h2>
        <div class="d-flex flex-row-reverse mb-3 gap-2">
            <a href="/logout" class="btn btn-info p-2">Logout</a>
            <a href="/dashboard" class="btn btn-info p-2">Back to recipes</a>
        </div>
        <form action="/recipe/{{recipe.id}}" method="post" class="flex-container with-border majority-width">
            <div class="half-width">
                <div class="form-group">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="name" value="{{recipe.name}}">
                </div>

                <div class="form-group">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="description" class="form-control" id="description">{{recipe.description}}</textarea>
                </div>

                <div class="form-group">
                    <label for="instructions" class="form-label">Instructions:</label>
                    <textarea type="text" name="instructions" class="form-control" id="instructions" rows="10">{{recipe.instructions}}</textarea>
                </div>
            </div>

            <div class="half-width">
                <div class="form-group">
                    <label for="date_made" class="form-label">Date Made:</label>
                    <input type="date" class="form-control" name="date_made" id="date_made" value="{{recipe.date_made}}">
                </div>
                <div class="form-group">
                    <p>Under 30 min?</p>
                    <label for="yes" class="form-label">Yes</label>
                    <input type="radio" name="under" value="1" id="yes">
                    <label for="no" class="form-label">No</label>
                    <input type="radio" name="under" value="0" id="no">
                </div>
                <input type="hidden" name="id" value="{{recipe.id}}">
                <div class="form-group">
                    <input type="submit" class="btn-primary" value="Submit">
                </div>
            </div>

        </form>
</body>
</html>